estoquews/EstoqueWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.4-b01. -->
<definitions targetNamespace="http://ws.estoque.caelum.com.br/" name="EstoqueWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://ws.estoque.caelum.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.estoque.caelum.com.br/" schemaLocation="EstoqueWSService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://item.modelo.estoque.caelum.com.br/" schemaLocation="EstoqueWSService_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="TodosItensFiltrados">
    <part name="parameters" element="tns:TodosItensFiltrados"/>
  </message>
  <message name="TodosItensFiltradosResponse">
    <part name="parameters" element="tns:TodosItensFiltradosResponse"/>
  </message>
  <message name="TodosItens">
    <part name="parameters" element="tns:listaItens"/>
  </message>
  <message name="TodosItensResponse">
    <part name="parameters" element="tns:itens"/>
  </message>
  <message name="CadastrarItem">
    <part name="parameters" element="tns:CadastrarItem"/>
    <part name="usuario" element="tns:usuario"/>
  </message>
  <message name="CadastrarItemResponse">
    <part name="result" element="tns:CadastrarItemResponse"/>
  </message>
  <message name="AutorizacaoFault">
    <part name="fault" element="tns:AutorizacaoFault"/>
  </message>
  <portType name="EstoqueWS">
    <operation name="TodosItensFiltrados">
      <input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/TodosItensFiltradosRequest" message="tns:TodosItensFiltrados"/>
      <output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/TodosItensFiltradosResponse" message="tns:TodosItensFiltradosResponse"/>
    </operation>
    <operation name="TodosItens">
      <input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/TodosItensRequest" message="tns:TodosItens"/>
      <output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/TodosItensResponse" message="tns:TodosItensResponse"/>
    </operation>
    <operation name="CadastrarItem" parameterOrder="parameters usuario">
      <input wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/CadastrarItemRequest" message="tns:CadastrarItem"/>
      <output wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/CadastrarItemResponse" message="tns:CadastrarItemResponse"/>
      <fault message="tns:AutorizacaoFault" name="AutorizacaoFault" wsam:Action="http://ws.estoque.caelum.com.br/EstoqueWS/CadastrarItem/Fault/AutorizacaoException"/>
    </operation>
  </portType>
  <binding name="EstoqueWSPortBinding" type="tns:EstoqueWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="TodosItensFiltrados">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="TodosItens">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="CadastrarItem">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal" parts="parameters"/>
        <soap:header message="tns:CadastrarItem" part="usuario" use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="AutorizacaoFault">
        <soap:fault name="AutorizacaoFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="EstoqueWSService">
    <port name="EstoqueWSPort" binding="tns:EstoqueWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

